@import './font.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  transition: color 300ms, background-color 300ms, opacity 300ms;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > header,
.container > footer {
  height: 10vh;
}

.container > main {
  flex-basis: 400px;
  flex-grow: 1;
  margin: auto 5vw;
}

main > .search-hit {
  margin: 10px 60px;
  color: #606060;
}

main > .search-form {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 10px 4px 0;
}

.search-form > .search-icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;

}

.search-icon > img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}

.search-form > .search-input {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form > .clear-content {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4d4d4;
  cursor: default;
}

.clear-content span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  font-size: 18px;
  user-select: none;
}

.clear-content span:hover {
  background-color: #cccccc;
  color: white;
}

.search-input * {
  flex-grow: 1;
}

.search-input input {
  width: 100%;
  height: 80%;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 600;
  outline: none;
  border: none;
  color: #383838;
  flex-grow: 1;
  background-color: transparent;
}

main > .option-list {
  max-height: 400px;
  overflow-y: auto;
}

.option-list * {
  font-weight: 400;
}

.option-list > .option {
  padding: 18px 0;
  display: flex;
  flex-direction: row;
  color: #3f3f3f;
  border-radius: 4px;
}

.option > .option-id {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: gainsboro;
}

.option > .option-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.option .search-content {
  font-weight: 500;
  color: black;
}

.option-list .option.selected {
  background-color: #e8eae9;
}

.option.selected > .option-id {
  color: inherit;
}

.option:hover {
  background-color: #f8f8f8;
}

.search-form > .search-icon.active {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.search-form > .search-setting {
  flex-basis: 160px;
  margin: auto 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-form > .search-setting > * {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-form > .search-setting span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  border-radius: 8px;
}

.search-form > .search-setting > .regex-match span {
  font-weight: 600;
}

.search-form > .search-setting .normal > span {
  color: #d4d4d4;
}

.search-form > .search-setting .normal > span:hover {
  background-color: #cccccc;
  color: #ffffff;
}

.search-form > .search-setting .active > span {
  color: #45c3f0;
}

.search-form > .search-setting .active > span:hover {
  background-color: #cccccc;
}

.search-form > .search-setting .disable > span {
  color: #eeeeee;
}

.search-form > .search-setting .disable > span:hover {
}

.cutoff-line {
  border-left: #d4d4d4 1px solid;
  margin: auto;
  height: 28px;
}