@import "font.css";
@import "common.css";
@import "calender.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Colfax', sans-serif;
  font-weight: 400;
  transition: color 200ms, background-color 200ms, opacity 200ms;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
  background-color: #aedada;
  display: flex;
}

#container {
  flex-grow: 1;

  border-radius: 28px;
  display: flex;
  flex-direction: row;

  background-color: white;
  margin: 32px 48px;
}

#container > .left {
  flex-grow: 3;
  min-width: 600px;
  border-radius: 28px 0 0 28px;
  background-color: #f0f7f7;
}

#container > .right {
  flex-grow: 1;
  min-width: 300px;
  border-radius: 0 28px 28px 0;
  background-color: #fefefe;

  display: flex;
  flex-direction: column;
}


#container > .right > header {
  flex-basis: 80px;
}

#container > .right > .cutoff-line-x {
  width: 90%;
  background-color: #f3f3f3;
  align-self: center;
  opacity: 0.7;
}

#container > .right > main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

#container > .right #calendar {
  flex-grow: 2;
  flex-basis: 200px;
}

#container > .right #timeline {
  flex-grow: 3;
  flex-basis: 200px;

  border-radius: 0 0 28px 0;
}

#calendar {
  display: flex;
  justify-content: center;
}

#calendar > * {
  flex-grow: 1;
}